@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html{
    font-family: 'Press Start 2P', cursive;
}

img {
    width: 150px;
    position: absolute;
    top: 100px;
    left: 100px;
}

#coin{
    width: 80px;
}

body{
    background-image: ('./Mario-Game/audio/img/map.jpg');
}